// main: style.scss

.shop {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 90px);
  background-color: $black;
  padding-bottom: 85px;

  &__wrapper {
    height: 100%;
  }
  &__empty-message {
    color: $white;
    text-align: center;
  }
  &__container {
    width: 100%;
    background-color: $lightDark;
    padding: 24px 0 30px 0;
    border-radius: 0 0 10px 10px;
    z-index: 2;
    position: relative;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);

    height: calc(100vh - (54px + 10px + 90px + 54px));
    overflow: hidden;

    &_active {
      height: 100% !important;
      min-height: calc(100vh - (54px + 10px + 90px + 54px));
      padding-bottom: 30px;
      &::after {
        opacity: 0;
      }
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 156px;
      background: linear-gradient(180deg, rgba(36, 35, 51, 0) 0%, #242333 100%);
    }
  }
  &__title {
    color: $white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px;
  }
  &__items-container {
    padding: 0 26px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  &__line {
    background-color: $lightBlue;
    opacity: .1;
    border: none;
    width: 100%;
    height: 1px;
    margin: 30px 0;
  }
}

.background {
  position: absolute;
  height: calc(100vh - 90px);
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 0;

  &__mobile-image {
    display: none;
  }
  &__left-image {
    position: absolute;
    z-index: 1;
    left: 19px;
    top: 118px;
    width: 927px;
  }
  &__main-image {
    position: absolute;
    width: 120%;
    transform: translate(-50%, -50%);
    left: calc(50% + 90px);
    top: 50%;
    z-index: 0;
  }
  &__right-image{
    position: absolute;
    z-index: 1;
    top: 142px;
    right: 55px;
    width: 478px;
  }
  &__bottom-shadow {
    z-index: 1;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 322px;
    background: linear-gradient(180deg, rgba(22, 21, 31, 0) 0%, $black 100%);
    transition: all .2s ease;

    &_active {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 1025px) {
  .shop {
    &__items-container {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 52px;
    }
  }
  .background {
    &__left-image {
      left: -40%;
      width: 760px;
    }
    &__main-image {
      width: 140%;
    }
    &__right-image{
      top: 142px;
      right: -60%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 769px) {
  .shop {
    &__items-container {
      padding: 0 26px;
    }
  }

  .background {
    &__left-image {
      left: -40%;
      width: 760px;
    }
    &__main-image {
      transform: translate(-50%, 0%);
      left: 50%;
      top: -2px;
      object-fit: cover;
    }
    &__bottom-shadow {
      bottom: 30%;
    }
    &__right-image {
      top: 180px;
      right: -62%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 481px) {
  .shop {
    padding-bottom: 24px;

    &__container {
      width: 280px;
      margin: 0 auto;
      border-radius: 10px;
      padding: 0;
      height: calc(100vh - (54px + 64px + 10px + 24px));
    }
    &__title {
      display: none;
    }
    &__items-container {
      grid-template-columns: repeat(2, 1fr);
      padding: 18px 11px;
      grid-gap: 10px;
    }
  }

  .background {
    margin-top: 63px;

    &__main-image {
      width: 320%;
    }
    &__bottom-shadow {
      bottom: 0;
    }
    &__right-image {
      display: none;
    }
    &__left-image {
      left: -50%;
      width: 550px;
      top: 40px;
    }
    &__mobile-image {
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 50px;
      right: -90px;
      width: 371px;
    }
  }
}

@media screen and (max-width: 360px) {
  .background {
    &__left-image {
      left: -70%;
    }
  }
}