// main: style.scss

$leksa: 'Leksa Sans';
$roboto: 'Roboto';
$black: #16151F;
$deepDark: #181723;
$white: #fff;
$dark: #242333;
$lightDark: #323145;
$blue: #B9B7EA;
$lightBlue: #9794C6;
$green: #21CC14;
$orange: #FF4910;
$darkGradient: linear-gradient(90deg, #242333 0%, #3C3B53 100%);
$pinkGradient: linear-gradient(90deg, #682FBD 0%, #CB4CBC 100%);
$greenGradient: linear-gradient(0deg, #30C325 9.09%, #2C812A 100%);